
<head>
<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:20%;
    float:left;
    padding:5px; 
}
#section {
    width:70%;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>

</head>

<body>

<div id="header">
<h1>City Gallery</h1>
</div>

<div id="nav">
London<br>
Paris<br>
Tokyo<br>
</div>

<div id="section">
<h1>London</h1>
<p>
London is the capital city of England. It is the most populous city in the United Kingdom,
with a metropolitan area of over 13 million inhabitants.
</p>
<p>
Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.
</p>
</div>

<div id="footer">
Copyright © W3Schools.com
</div>

</body>


<div style="width:20%"> </div> <div style="width:70%"></div>
<table style=" width:100%; border-collapse: inherit;" border="1">
<tr><td rowspan="5"><img src="http://localhost/placementportal/assets/siu.png" height:"20%" width="10%" alt="collage_heading"/></td>
    <td colspan="4">Symbiosis Institute of Telecom </td></tr>
</table>
